body{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.wrapper{
    width: 50rem;
    text-align: center;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.move-n-time__cards{
    display: flex;
    justify-content: space-evenly;
}
.moves{
    padding: 0.5rem;
}
.time{
    padding: 0.5rem;
}
.move-n-time__buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}
.move-n-time__buttons button{
    width: 4rem;
    height: 2rem;
}
.header__title{
    padding: 0.5rem;
    font-size: larger;
}
.puzzle-board{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.board{
    border: 0.30rem solid black;
}
.cell{
    width: 5rem;
    height: 5rem;
    border: 0.1rem solid black;
    border-radius: 0.25rem;
    text-align: center;
}
